@model IEnumerable<WebApplication4.Models.Contact>
@{
    ViewData["Title"] = "contact";
    Layout = "~/Views/Shared/_Layoutac.cshtml";
}

<div class="row mt-5">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Authors table</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                   @foreach (var item in Model)
                  {                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">                        
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">@item.IdCusNavigation.Name</h6>
                            <p class="text-xs text-secondary mb-0">@item.IdCusNavigation.Email</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0"></p>
                        <p class="text-xs text-secondary mb-0">@item.Message</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                      </td>
                      <td class="align-middle text-center">
                      </td>
                      <td class="align-middle">
                       
                      </td>
                    </tr> 
                     }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      
     
<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="padding-top:150px">
            <div class="center-this">
                <div class="modal-content" style="position:relative; width: 380px; height: 280px; background-color: rgba(0, 0, 0, 0.60)">
                    <!--Login Header-->
                    <div class="modal-header" style="text-align:center">
                        <h4 class="modal-title" style="padding-top:2px;padding-left:5em; color:whitesmoke; font-size:25px"> Login </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Body-->
                    <div class="modal-body">
                    @foreach (var item in Model)
                    {
                         <div>@item.Message</div>   
                    }
                </div>                        
                </div>
           </div>
        </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

